@import "src/styles/variables";

.mainBlock {
  margin: 0 10px;
  min-height: 50px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;


  Button {
    background-color: $main_color_second;
    color: black;
  }


}

.points {
  font-size: xx-large;
  margin: 0 10px;
}