@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 500px;
  background-color: $main_background_color;

  input {
    width: 20px;
    height: 20px;
  }
}