@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  @include displayContentCenter();
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .body {
    @include displayContentCenter();
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 60px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}