@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 150px;
  height: auto;
  cursor: pointer;
  z-index: $z_index_navigation;
  position: relative;

  .items {
    @include displayContentCenter();
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    transform: translate(0, +5%); // отступ от заголовка
    margin-top: 15px;
    position: absolute;
    height: auto;
    opacity: 0;
    background-color: $back;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 10px rgba(28, 29, 37, 0.26);

    div {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 30px;
      cursor: pointer;
      margin-left: 10px;
    }

    &.active {
      opacity: 1;
    }
  }

  .title {
    @include displayContentCenter();
    align-items: center;
    justify-content: center;
    width: auto;

    img {
      width: 13px;
      height: 13px;
      opacity: 50%;
      animation: ease 1s;

      transition: ease 0.5s;

      &.active {
        transform: rotate(180deg);
        opacity: 100%;
      }

      &:hover {
        opacity: 100%;
      }
    }
  }
}