@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  @include container();
  position: fixed;
  width: 400px;
  height: 60px;
  z-index: 20;
  bottom: 80vh;
  left: -500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $error_color_background;
  transition: all 1s ease;
  border-radius: 2px;

  span {
    color: $text_color;
  }

  &.active {
    left: 100px;
  }

}