@import "src/styles/variables";

@mixin displayContentCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin textColumns($columns, $fontSize: 16px) {
  font-size: $fontSize;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $columns; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@mixin inputStyle {
  color: #1C1D25;
  font-size: 0.9rem;
  width: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: 2px solid $gray2;
  border-radius: 10px;

  &:hover {
    background-color: #ffffff;
    border-color: $green;
  }

  &:focus {
    outline: none;
    background-color: #ffffff;
    border-color: $green;
  }
}


@mixin labelStyle {

  @include displayContentCenter();
  flex-direction: column;
  align-items: flex-start;

  label {
    color: $gray;
    margin: 0 0 10px 10px;
  }
}

@mixin imageCenterProperty() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@mixin titleH3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;

  color: $green;
}

@mixin testPreview($fontSize: 16px) {

  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fontSize;
  line-height: 130%;

  display: flex;
  align-items: center;

  color: $dark;
}


@mixin textDescription {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: $dark;
}

@mixin formErrorMessage {
  color: $accent;
  font-weight: 500;
  margin-left: 10px;
}

@mixin paddingMobileMenu {
  @media screen and (max-width: $width_menu) {
    & {
      padding: 2% 1% 5% 2%;
    }
  }
}

// login form

@mixin containerFormStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70vw;
}


@mixin blockFormStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 500px;
  border-radius: 20px;
}
