@import "src/styles/variables";

@mixin displayContentCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 10px;
}

@mixin textColumns($columns, $fontSize: 16px) {
  font-size: $fontSize;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $columns; /* number of lines to show */
  line-clamp: $columns;
  -webkit-box-orient: vertical;
}

@mixin inputStyle {
  color: #1C1D25;
  font-size: 0.9rem;
  width: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: 2px solid $gray2;
  border-radius: 10px;

  &:hover {
    background-color: #ffffff;
    border-color: $green;
  }

  &:focus {
    outline: none;
    background-color: #ffffff;
    border-color: $green;
  }
}