@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  @include displayContentCenter() ;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  gap: 20px;

  .header {
    @include displayContentCenter();
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    h1 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 120%;
      color: $green;
    }

    div {
      @include displayContentCenter();
      justify-content: space-between;
      width: 100%;
    }

    .date {
      color: $gray;
    }
  }

  .body {
    @include displayContentCenter();
    align-items: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 10px;

    img {
      height: auto;
      width: 100%;
    }

    h3 {
      @include titleH3();
      color: $dark;
      text-align: justify;
    }

    .description {
      @include textDescription();
      text-align: justify;
    }

    div {
      width: 100%;
      color: #1C1D25;
    }
  }

  @media screen and (max-width: $width_page) {
    & {
      .header {
        h1 {
          font-size: 24px;
        }
      }

      .body {
        h3 {
          font-size: 18px;
        }

        .description {
          font-size: 14px;
        }
      }
    }
  }
}