@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  @include displayContentCenter() ;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: auto;
  gap: 30px;

  .header {
    @include displayContentCenter();
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    div {
      @include displayContentCenter();
      justify-content: space-between;
      width: 100%;
    }

    .date {
      color: $gray;
    }
  }

  h1 {
    color: $green;
    font-weight: 600;
    font-size: 48px;
  }

  .body {
    @include displayContentCenter();
    align-items: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;

    img {
      height: auto;
      width: 100%;
    }

    .description {
      width: auto;
    }

    div {
      width: 100%;
      color: #1C1D25;
    }
  }
}