@import "/src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 1% 5% 2%;
  flex-grow: 1;
  height: 100vh;
  background: $green;
  font-size: 90px;
  font-weight: 900;
  color: $back;
}