@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 400px;
  padding: 2% 1% 5% 2%;
  flex-grow: 10;
  background-color: $back;
  width: 1000px;

  h2 {
    color: $green;
  }

  form {
    @include container();
    @include labelStyle();
    width: 90%;
    gap: 20px;

    input, textarea {
      @include inputStyle();

      &::placeholder {
        color: $gray2;
      }
    }

    .header {
      @include displayContentCenter();
      justify-content: space-between;
      width: 100%;

      .date {
        @include displayContentCenter();
        flex-direction: column;
        align-items: flex-start;
        @include labelStyle();

        input {
          width: 90px;
        }
      }

      .sections {
        @include displayContentCenter();
        @include labelStyle();
        flex-direction: column;
        align-items: flex-start;

        select {
          @include inputStyle();
        }
      }
    }

    .name {
      @include displayContentCenter();
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .blockTitle {
      @include displayContentCenter();
      gap: 10px;
      align-items: center;
      justify-content: center;

      label {
        margin: 0;
      }
    }
  }
}