@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 400px; // не менять

  flex-grow: 10;
  overflow-y: scroll;
  height: 100vh;

  .bodyContainer {
    padding: 2% 1% 5% 2%;

    .body {
      @include displayContentCenter();
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 50px;
      width: 100%;
      gap: 20px;
    }

    .comments {
      height: 100px;
      width: auto;
    }

    .footer {
      @include displayContentCenter();
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;

      .preview {
        width: auto;
        height: 300px;
      }
    }

    @media screen and (max-width: $width_menu) {
      & {
        margin-top: 60px;
      }
    }
  }
}