@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 400px; // не менять
  padding: 2% 1% 5% 2%;
  flex-grow: 10;

  .body {
    @include displayContentCenter();
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
  }

  .comments {
    height: 100px;
    width: auto;
  }

  .footer {
    @include displayContentCenter();
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;

    .preview {
      width: auto;
      height: 300px;
    }
  }
}