@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  @include container();

  .body {
    @include displayContentCenter();
    flex-direction: row;
    align-items: start;
    width: 100%;
    gap: 20px;
  }

  .comments {
    height: 100px;
    width: auto;
  }

  .footer {
    @include displayContentCenter();
    flex-direction: row;
    justify-content: space-between;
  }

}