@import "src/styles/mixin";
@import "src/styles/variables";


.main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;

  .container {
    @include displayContentCenter();
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    width: 70%;

    @media screen and (max-width: $width_menu) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @include paddingMobileMenu();
}
