@import "src/styles/mixin";
@import "src/styles/variables";


.main {
  @include displayContentCenter();
  justify-content: space-between;
  //border: black 1px solid;

  .container {
    @include displayContentCenter();
    flex-wrap: wrap;
    width: 60vw;
    height: auto;
    justify-content: flex-start;
    gap: 10px;
  }
}
