@import "src/styles/mixin";
@import "src/styles/variables";


.main {
  @include displayContentCenter();
  justify-content: space-between;
  border: black 1px solid;

  .container {
    @include displayContentCenter();
    flex-wrap: wrap;
    width: 50vw;
    height: auto;
    justify-content: flex-start;
    gap: 10px;

    .path {
      height: 40px;
      width: 180px;
      background-color: $main_color_second;
      @include displayContentCenter();

    }

    .active {
      background-color: rgba(139, 0, 0, 0.56);
    }
  }
}
