@import "src/styles/mixin";
@import "src/styles/variables";


.main {
  @include displayContentCenter();
  justify-content: space-between;

  .container {
    @include displayContentCenter();
    justify-content: flex-start;
    gap: 10px;

    .path {
      height: 40px;
      width: 180px;
      background-color: $main_color_second;
      @include displayContentCenter();
    }
  }
}
