@import "../../styles/variables";
@import "../../styles/mixin";

.container {
  @include container();

  .header {
    width: auto;
    height: 30vh;
    background-color: $main_color_first;
    color: $text_color;
    font-size: 25px;
    @include displayContentCenter()
  }
}

