@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  @include displayContentCenter();
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  height: auto;
  margin-top: 103px;

  h3 {
    @include displayContentCenter();
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
  }

  .news {
    @include displayContentCenter();
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: 1px $gray solid;
    cursor: pointer;

    &:hover {
      div {
        color: $green;
      }
    }

    h4 {
      @include displayContentCenter();
      @include textColumns(1);
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 10px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      /* identical to box height, or 22px */

      color: $green;
    }

    span {
      @include testPreview();
      @include textColumns(3);
      color: $gray;
      margin-bottom: 20px;
    }

    div {
      @include displayContentCenter();
      justify-content: flex-end;
      color: $gray;
      font-weight: 500;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}