@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  @include container();
  width: auto;
  min-height: 300px;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 20px;

  .preview {
    @include container();

    h1 {
      height: 58px;

      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 120%;

      display: flex;
      align-items: center;

      color: $dark;
    }

    h3 {

      height: 94px;

      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 47px;
      display: flex;
      align-items: center;

      color: $green;
    }
  }

  .text {

    width: 558px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: $dark;
  }

  .image {
    max-width: 30%;
    max-height: 350px;
  }
}