@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  @include displayContentCenter();
  flex-direction: column;
  align-items: flex-end;
  max-width: 600px;
  min-width: 300px;
  border-radius: $border_radius;
  height: auto;
  width: 30vw;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(28, 29, 37, 0.26);

  .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $back_card;
    border-radius: $border_radius;
    width: 100%;

    img {
      object-fit: cover;
      height: 200px;
      width: 100%;
      border-radius: 5px;
    }

    .description {
      padding: 15px 15px 10px 25px;

      .date_and_view {
        color: $gray;
        @include displayContentCenter();
        justify-content: space-between;
        margin: 10px 0 10px 0;
      }

      h3 {
        color: $green;
        @include textColumns(1, 30px);
      }

      .text {
        @include textColumns(4);
        color: $dark;
      }
    }
  }

  span {
    color: $gray;
    margin: 15px 0 15px 25px;

    &:hover {
      color: $green;
    }
  }
}