@import "src/styles/mixin";
@import "src/styles/variables";

.container {

  h1 {
    font-size: 50px;
    color: $gray;
    margin-bottom: 30px;
  }

  @include containerFormStyle();

  .block {
    @include blockFormStyle();
    @include labelStyle();

    label {
      @include titleH3();
    }

    input {
      @include inputStyle();
    }

    .error {
      @include formErrorMessage();
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 30px;

      div {
        width: 100%;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}