@import "../../styles/mixin";
@import "../../styles/variables";

.container {
  @include container();

  .body {
    @include container();
    flex-direction: row;

  }

  .create {
    margin-bottom: 10px;
    width: auto;
    height: auto;
    background-color: $main_color_second;
  }

  .list {
    width: 40%;
    height: 50%;
    background-color: $main_color_second;
  }

}