@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  @include displayContentCenter();
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;

  @media screen and (max-width: $news_container_width) {

    & {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  @include paddingMobileMenu();
}

