@import "src/styles/mixin";
@import "src/styles/variables";

.telegram {
  @include displayContentCenter();
  background-color: $main_color_first;
  margin: 0 auto;
  width: 700px;
  height: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  div {
    @include displayContentCenter();
    background-color: $main_color_second;
    height: 50px;
    width: 300px;
  }
}