@import "src/styles/mixin";
@import "src/styles/variables";


.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;

  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray2;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}

input {
  &:checked + .slider {
    background-color: $green;
  }

  &:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(66px);
  }
}


.slider:after {
  content: 'ВЫКЛ';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: 'ВКЛ';
}

