@import "src/styles/variables";
@import "src/styles/mixin";


.container {
  @include displayContentCenter();
  gap: 10px;

  div {
    @include labelStyle();
    width: 100%;
  }

  p {
    color: $accent;
    font-weight: 500;
    margin-left: 10px;
  }
}