@import "styles/mixin";
@import "styles/variables";

.container {
  @include container();
  flex-direction: row;
  align-items: flex-start;
  height: auto;
  background-color: $back;
  width: 100%;
  gap: 20px;
}
