@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  @include displayContentCenter();
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: $gray2;
  gap: 1rem;

  .links {
    @include displayContentCenter();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer{
    color: $gray;
  }
}