@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  @include displayContentCenter();
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100px;
  max-width: 500px;
  margin-bottom: 10px;

  img {
    height: 100%;
    width: 80px;
    border-radius: 50px;
  }

  .body {
    @include displayContentCenter();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    margin-left: 3%;

    div {
      display: flex;
      justify-content: flex-start;
      gap: 20%;
      width: 30%;

      h4 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: $dark;
      }

      span {
        word-wrap: break-word;
        overflow-wrap: break-word;
        color: $gray;
        width: 180px;
        text-align: start;
      }
    }

    p {
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }
  }
}