@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  @include displayContentCenter();
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100px;
  margin-bottom: 10px;

  img {
    height: 100%;
    width: 80px;
    border-radius: 50px;
  }

  .body {
    @include displayContentCenter();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 20%;
    margin-left: 3%;

    div {
      @include displayContentCenter();
      flex-direction: row;
      width: auto;
      column-gap: 20%;

      span {
        color: $gray;
        width: 180px;
      }
    }

  }

}