@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  display: flex;
  min-height: 100px;
  background-color: aquamarine;
  margin-bottom: 10px;

  .avatar {
    @include displayContentCenter();
    height: 100%;
    width: 100px;
    background-color: #a82735;
    border-radius: 50px;
  }

  .body {
    border: #1C1D25 2px solid;
    height: 100%;
    width: 60%;

  }

}