@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  justify-content: stretch;
  justify-items: stretch;
  width: auto;
  max-width: 350px;

  input {
    display: flex;
    height: 45px;
    line-height: 28px;
    padding: 0 1rem 0 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #E9E9E9;
    color: $dark;
    flex: 0 0 100%;

    &:focus, &:hover {
      outline: none;
      border-color: $green;
      background-color: $back_card;
      box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }
  }

  .icon {
    position: absolute;
    left: 1rem;
    fill: $gray;
    width: 1rem;
    height: 1rem;
  }
}

